# Project exclude paths
/eureka-server/target/
/article-service/target/
/product-service/target/
/gateway-service/target/
/common/target/
/microservices.iml
/eureka-server/eureka-server.iml
/article-service/article-service.iml
/product-service/product-service.iml
/gateway-service/gateway-service.iml
/common/common.iml
/.idea/
